
    <div class="card">
        <a routerLink="/specialties">Retour</a>
        <div class="card-header">
            <h5 class="card-title mb-0">Add a Speciality</h5>
        </div>
        <div class="card-body">
            <div class="m-sm-4">
                <form [formGroup]="data" (ngSubmit)="add()">
                    <div class="mb-3">
                        <label class="form-label">Speciality Name</label>
                        <input class="form-control form-control-lg" type="text"  formControlName="nom" name="name" placeholder="Enter the speciality" />
                    </div>
                    <div>
                        <button  class="btn btn-primary" [disabled]="! data.valid" style="margin-right:5px;">Add</button>
                        <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
