<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Add a customer</h5>
        </div>
        <div class="alert alert-warning" *ngIf="isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>

          <div class="alert alert-success" *ngIf="isSuccessful">
            Your registration is successful!
          </div>
        <div class="card-body">
            <div class="m-sm-4">
                <form [formGroup]="data" (ngSubmit)="add()">
                    <div class="mb-3">
                        <label class="form-label">First Name</label>
                        <input class="form-control form-control-lg" type="text"  formControlName="nom" name="name" placeholder="Enter the status" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Last Name</label>
                        <input class="form-control form-control-lg" type="text"  formControlName="prenom" name="name" placeholder="Enter the status" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Phone Number</label>
                        <input class="form-control form-control-lg" type="tel"  formControlName="telephone" name="name" placeholder="Enter the status" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control form-control-lg" type="email"  formControlName="email" name="name" placeholder="Enter the status" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input class="form-control form-control-lg" type="password"  formControlName="password" name="name" placeholder="Enter the status" />
                    </div>
                    <div>
                        <button  class="btn btn-primary" [disabled]="! data.valid" style="margin-right:5px;">Add</button>
                        <button type="reset" class="btn btn-danger">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>