<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">GPRO<span style="color: rgb(255, 0, 119);"> CRM</span></span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Espace Admin
            </li>

            <li class="sidebar-item active">
                <a class="sidebar-link" href="index.html">
                    <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                </a>
            </li>

            <li class="sidebar-header">
                Systems Users
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="members/add">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Add Users</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="members">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Management Users</span>
                </a>
            </li>
            <li class="sidebar-header">
                Systems Customers
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="customers/add">
                    <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Add Customers</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="customers">
                    <i class="align-middle" data-feather="users"></i> <span class="align-middle">Management Customers</span>
                </a>
            </li>

            <li class="sidebar-header">
                Complaints
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-buttons.html">
                    <i class="align-middle" data-feather="alert-circle"></i> <span class="align-middle">Pending Complaints</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-forms.html">
                    <i class="align-middle" data-feather="bar-chart"></i> <span class="align-middle">In progress Complaints</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" href="ui-cards.html">
                    <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Closed Complaints</span>
                </a>
            </li>

            <li class="sidebar-header">
                Projects 
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="projects">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Management Projects</span>
                </a>
            </li>

            <li class="sidebar-header">
                Specialties
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="specialties">
                    <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Management Specialties</span>
                </a>
            </li>

            <li class="sidebar-header">
                Complaints Types
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="types">
                    <i class="align-middle" data-feather="type"></i> <span class="align-middle">Management Types</span>
                </a>
            </li>

            <li class="sidebar-header">
                Complaints Status
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="status">
                    <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Management Status</span>
                </a>
            </li>

        </ul>
    </div>
</nav>